.card-title-container {
  width: 120px;
  margin-top: 1.5rem;
  border-bottom: 3px solid #000;
  margin-bottom: 1.5rem;
}
.card-title-container h2 {
  font-size: 1.4rem;
  font-weight: 600;
  padding-bottom: 0.2rem;
}

.cards-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 300px;
  overflow: auto;
}

.card {
  box-shadow: 0 4px 6px -1px #c7d2fe, 0 2px 4px -2px #c7d2fe;
  border-radius: 8px;
  background-color: #fff;
}
.card-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  height: 48px;
  border-bottom: 1px #bbb solid;
}
.card-top h1 {
  width: 75%;
}
.card-top-icons-container {
  display: flex;
  gap: 0.65rem;
}
.card-top-icons-container img {
  width: 26px;
  cursor: pointer;
}
.card-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  font-size: 0.88rem;
  height: 36px;
}
